<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134973676568-uesle8terptbhgsoqsmt6s1fa42nr4os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134973676568-uesle8terptbhgsoqsmt6s1fa42nr4os</string>
	<key>API_KEY</key>
	<string>AIzaSyBLX2NGeOE99QGlEot3OmlpWr7Gp33DWb4</string>
	<key>GCM_SENDER_ID</key>
	<string>134973676568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pakpobox.NewPostal</string>
	<key>PROJECT_ID</key>
	<string>singaporepost-89121</string>
	<key>STORAGE_BUCKET</key>
	<string>singaporepost-89121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134973676568:ios:a5904557a9375c3d</string>
	<key>DATABASE_URL</key>
	<string>https://singaporepost-89121.firebaseio.com</string>
</dict>
</plist>